* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #aa7444;
    --secundary-color: #f4a261;
    --accent1-color: darkslateblue;
    --accent2-color: #e9c46a;
    --heading-font: 'times new roman', 'georgia', serif;
    --body-font: 'arial', 'helvetica', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-decoration: none;
}

section img {
    width: 250px;
}

section div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
}

.tour figure img {
    width: 150px;
}

.tour div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

figcaption {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: var(--accent2-color);
    color: #fff;
    padding: 8px;
}

footer nav {
    float: right;
}